
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
   <title>
     Google Visualization API Sample
   </title>
  
 </head>
 <body style="font-family: Arial;border: 0 none;">

  <div class="span9" style="padding-top:20px">
                <div class="row">
                    <div class="span9">
                        <div style="padding-left:30px">
                            <div class="h4">请使用新浪微博帐号登录：</div>
                            <div style="padding:10px 0px"><a href="/signin"><img src="./static/signin.png" style="width: 239px;height: 48px" /></a></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="weibo-list" class="span9">
                        <div class="h4" style="padding: 10px 30px;">源码下载：</div>
                        <div style="padding: 10px 30px">
                            <p>可以从GitHub下载<a href="https://github.com/michaelliao/sinaweibopy" target="_blank">Python SDK和mini weibo网站源码</a></p>
                        </div>
                        <div class="h4" style="padding: 10px 30px;">关注作者：</div>
                        <div style="padding: 10px 30px">
                            <p><a href="http://weibo.com/liaoxuefeng" target="_blank">@廖雪峰</a></p>
                            <p><iframe width="136" height="24" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0" scrolling="no" border="0" src="http://widget.weibo.com/relationship/followbutton.php?language=zh_cn&width=136&height=24&uid=1658384301&style=2&btn=red&dpc=1"></iframe></p>
                        </div>
                    </div>
                </div>
            </div>
 </body>
</html>